.main {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding-bottom: 30px;
   min-height: 100vh;
}

.card {
   background-color: #030d0f;
   border: 3px solid #00B0C9;
   display: flex;
   flex-direction: column;
   width: 270px;
   min-height: 510px;
   margin: 13.5px;
   border-radius: 0.5rem;
   box-shadow: 0px 3px 5px 0px #0000008d;
   position: relative;
}

.personagemImg {
   width: 100%;
   border-radius: 0.2rem 0.2rem 0px 0px;
}

.informacoes-principais {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: #ffffff;
   padding: 10px 15px 0px 15px;
}

.tituloDoCard {
   font-size: 1.6rem;
   color: #02cae5;
}

.table {
   color: #dbdbdb;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
   padding-top: 5px;
}

.th {
   text-align: start;
   color: #00B0C9;
   font-size: 18px;
}

.td {
   text-align: end;
}

.dadosLocalização {
   padding: 10px 15px;
}

.Localizacao {
   color: #00B0C9;
   font-size: 18px;
   margin: 8px 0px 4px 0px;
}

.paragrafo {
   color: #dbdbdb;
}

.id {
   position: absolute;
   margin: 5px;
   padding: 2.5px;
   border-radius: 2px;
   color: #000000;
   background-color: #02cae5;
   font-size: 12px;
   font-weight: bold;
   min-width: 20px;
   text-align: center;
}

@media (max-width: 1500px) {
   .card {
      width: 268px;
      min-height: 510px;
      margin: 13.5px;
   }
   
   .informacoes-principais {
      padding: 10px 15px 0px 15px;
   }
   
   .tituloDoCard {
      font-size: 1.55rem;
   }

   .th {
      text-align: start;
      font-size: 17.5px;
   }

   .td {
      font-size: 15.5px;
   }
   
   .dadosLocalização {
      padding: 10px 15px;
   }
   
   .Localizacao {
      font-size: 17.55px;
      margin: 8px 0px 4px 0px;
   }
   
}

@media (max-width: 1200px) {
   .card {
      width: 265px;
      min-height: 505px;
      margin: 13.5px;
   }
   
   .informacoes-principais {
      padding: 9px 14px 0px 14px;
   }
   
   .tituloDoCard {
      font-size: 1.5rem;
   }

   .th {
      font-size: 17px;
   }

   .td {
      font-size: 15px;
   }
   
   .dadosLocalização {
      padding: 9px 14px;
   }
   
   .Localizacao {
      font-size: 17px;
      margin: 7.5px 0px 3.5px 0px;
   }
}