.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   background-color: #272B33;
   padding-bottom: 30px;
   font-family: 'Roboto', sans-serif;
   min-height: 100vh;
}

.header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 330px;
   background-color: white;
   margin-bottom: 50px;
   box-shadow: 2px 8px 9px 0px #0000001e;
   position: relative;
}

.titulo {
   padding: 50px;
   font-size: 100px;
   font-weight: 700;
}

.titulo:hover {
   color: #e98c00;
   text-shadow: 1px 1px 5px #00000057;
}

.boxButtons {
   position: absolute;
   top: 350px;
   right: 30px;
   display: flex;
   align-items: center;
}

.pageCurrent {
   font-weight: bolder;
   padding: 0px 7px;
   font-size: 18px;
   color: #adb1be;
}

.buttonChangePage {
   background-color: transparent;
   border: 0;
   padding: 3px 5px;
   color: white;
   border-radius: 2px;
}

.buttonChangePage:hover{
   color:#e98c00;
   background-color: white;
}

.botaoSumir {
   display: none;
}

.botaoAparecer {
   display: inline-block;
}

.card {
   background-color: #3C3E44;
   display: flex;
   width: 600px;
   height: 220px;
   margin: 13.5px;
   border-radius: 0.5rem;
   box-shadow: 2px 1px 3px 0px #0000003e;
   position: relative;
}

.none {
   display: none;
}

.personagemImg {
   height: 220px;
   border-radius: 0.5rem 0px 0px 0.5rem;
}

.section {
   padding: 13.5px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   color: white;
}

.tituloDoCard {
   font-size: 1.5rem;
}

.tituloDoCard:hover,
.paragrafo:hover {
   color: #FF9800;
}

.Localizacao {
   color: #989E9E;
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 5px;
}

.id {
   position: absolute;
   margin: 5px;
   padding: 2.5px;
   border-radius: 2px;
   color: #272B33;
   background-color: rgba(240, 248, 255, 0.766);
   font-size: 12px;
   font-weight: bold;
}

#icon {
   width: 1px;
   height: 1px;
}