body{
   background-color: #021c2e;
   font-family: 'Roboto', sans-serif;
}

.main {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   padding-bottom: 30px;
   min-height: 100vh;
}

.header {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 330px;
   background-color: #F7F7F7;
   margin-bottom: 50px;
   box-shadow:    2px 8px 9px 0px #0000001e;
   position: relative;
}

.logo{
   background: url("../assets/image/image.png");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   margin-top: 15px;
   width: 880px;
   height: 315px;
}

.boxButtons {
   position: absolute;
   top: 350px;
   right: 30px;
   display: flex;
   align-items: center;
}

.pageCurrent {
   font-weight: bolder;
   padding: 0px 7px;
   font-size: 18px;
   color: #d4d7e4;
}

.buttonChangePage {
   background-color: transparent;
   border: 0;
   padding: 3px 5px;
   color: white;
   border-radius: 2px;
}

.buttonChangePage:hover{
   color:#e98c00;
   background-color: white;
}

.botaoSumir {
   display: none;
}

.card {
   background-color: #030d0f;
   border: 3px solid #00B0C9;
   display: flex;
   flex-direction: column;
   width: 270px;
   min-height: 510px;
   margin: 13.5px;
   border-radius: 0.5rem;
   box-shadow: 0px 3px 5px 0px #0000008d;
   position: relative;
}

.personagemImg {
   width: 100%;
   border-radius: 0.2rem 0.2rem 0px 0px;
}

.informacoes-principais {
   /* padding: 12px 15px; */
   padding: 0px 15px;
   padding-top: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   color: #ffffff;
}

.tituloDoCard {
   font-size: 1.6rem;
   color: #02cae5;
   margin-bottom: 3px;
   text-align: center;
}

.dadosLocalização {
   padding: 10px 15px;
}

.Localizacao {
   color: #00B0C9;
   font-size: 18px;
   margin: 8px 0px 4px 0px;
}

.paragrafo {
   color: #dbdbdb;
}

.id {
   position: absolute;
   margin: 5px;
   padding: 2.5px;
   border-radius: 2px;
   color: #000000;
   /* background-color: rgba(240, 248, 255, 0.861); */
   background-color: #02cae5;
   font-size: 12px;
   font-weight: bold;
   min-width: 20px;
   text-align: center;
}

.footer {
   width: 100%;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.imageRickFooter {
   width: 350px;
   position: absolute;
   top: -200px;
   left: 200px;
   animation: float 3s ease-in-out infinite;
}

@keyframes float {
   0%, 100% {
     transform: translateY(0);
   }
   50% {
     transform: translateY(-30px);
   }
 }

 .box {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 15px;
 }

 .tituloFooter, .apresentacaoApi {
   color: #bfbfbf;
 }

 .link {
   font-family: monospace;
   color: #00B0C9;
   font-size: 20px;
   -webkit-text-stroke: 0.5px #1a6ba5;
   text-decoration: none;
   margin: auto;
}