.main {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding-bottom: 30px;
   min-height: 100vh;
}

.card {
   background-color: #030d0f;
   border: 3px solid #00B0C9;
   display: flex;
   flex-direction: column;
   width: 270px;
   min-height: 510px;
   margin: 13.5px;
   border-radius: 0.5rem;
   box-shadow: 0px 3px 5px 0px #0000008d;
   position: relative;
}

.personagemImg {
   width: 100%;
   border-radius: 0.2rem 0.2rem 0px 0px;
}

.informacoes-principais {
   padding: 0px 15px;
   padding-top: 10px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   color: #ffffff;
}

.tituloDoCard {
   font-size: 1.6rem;
   color: #02cae5;
   margin-bottom: 3px;
   text-align: center;
}

.dadosLocalização {
   padding: 10px 15px;
}

.Localizacao {
   color: #00B0C9;
   font-size: 18px;
   margin: 8px 0px 4px 0px;
}

.paragrafo {
   color: #dbdbdb;
}

.id {
   position: absolute;
   margin: 5px;
   padding: 2.5px;
   border-radius: 2px;
   color: #000000;
   background-color: #02cae5;
   font-size: 12px;
   font-weight: bold;
   min-width: 20px;
   text-align: center;
}